
.navbar{
    background-color: rgb(214, 57, 57);
}
.navbar-brand{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,sans-serif; 
    font-size: larger; 
    font-weight: 700; 
    
}
header nav div button {
    margin-right: 1%; 
    width: 30%; 
    height: fit-content;
}
