
<!--btn LISTA COMPRAS-->
<div id="catalogo" >
<h3>CATALOGO DE PRODUCTOS</h3>

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
    <i class="fa-regular fa-cart-shopping"><i class="fa-regular fa-cart-shopping"></i>Mi Carrito</i></button>
  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Lista de productos</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      ..................................................................
    </div>
  </div>
  </div>

  <div>
<!--bebidas-->
    <div><h4>Bebidas</h4></div> 

<!--AlimNoPer-->
    <div><h4>Alimentos No Perecederos</h4></div> 

<!--verduras-->
    <div><h4>Verduras/Hortalizas</h4></div> 

<!--panificado-->
    <div><h4>Panificados</h4></div> 

<!--dulces-->
    <div><h4>Dulces/Caramelos</h4></div> 

<!--lacteos-->
    <div><h4>Lacteos</h4></div> 

<!--asePers-->
    <div><h4>Aseo Personal</h4></div> 

<!--prodLimpieza-->
    <div><h4>Productos De Limpieza</h4></div> 

  </div>

