

<div class="container-fluid" id="contenidoP">
    
    <div id="contenedorSecundario" >
      
      <h2 id="tituloSecundario" >MENU</h2>
        
        <ul class="nav nav-tabs" >
      <!--routerLink a CATALOGO-->
          <li class="nav-item ">
            <a class="nav-link" routerLink="/catalogo" >
              <i class="fa-solid fa-list"></i> Catalogo</a>
          </li>
      <!--routerLink a INFO DEL NEGOCIO-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/infonegocio">
            <i class="fa-solid fa-shop"></i> Nuestro negocio</a>
          </li>
          <!--routerLink a PREGUNTAS FRECUENTES-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/preguntasydudas" >
          <i class="fa-solid fa-question"></i> Preguntas frecuentes</a>
          </li>
      <!--routerLink a COMENTARIOS-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/comentarios">
          <i class="fa-solid fa-comment"></i> Comentarios</a>
          </li>
        </ul>
      </div>

  </div>

<!--carrusel PROPAGANDA

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img src="/ImgWeb/Promo/promo1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/ImgWeb/Promo/promo2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/ImgWeb/Promo/promo3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/ImgWeb/Promo/promo4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  -->