<div id="fondocatalogo" style="padding: 2%;">
<div style="background-color: rgb(198, 248, 174); margin: 2%; padding: 2%; border-radius: 2ch;">
    <h2 style="text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-decoration: underline;">PREGUNTAS FRECUENTES</h2>

    <p *ngFor="let informacion of info2" style="text-align: center;">
        
        <strong>{{informacion.subtitulo}}</strong> <br>
        -{{informacion.descripcion}} <br>
        </p>

</div>
</div>





