<div style="background-color: antiquewhite; margin: 2%; padding: 2%; border-radius: 2ch;">
    <h2>NUESTRO NEGOCIO</h2>
<p>
    "Minimercado Griselda es una empresa familiar dedicada a la venta de una variedad de articulos tanto comestibles 
    como articulos de limpieza y aseo personal, entre otros. Fundada en 2015, a crecido con el pasar de los años y con 
    el fin de buscar formas nuevas de comercializar sus productos, la empresa hoy en dia cuenta tanto con entregas a 
    domicilio como la posibilidad de vender sus productos via online mediante la presente web."
</p>

<strong>-Como trabajamos:</strong><br>
Actualmente la empresa atiende a sus clientes tanto de manera fisica en el propio local o mediante los pedidos y 
compras que los clientes realizan a traves de la web. <br>
Ademas, la empresa hace uso contante de diversas redes sociales para publicitar y dar info extra 
sobre promociones, productos nuevos, etc. <br>
Dichas redes se las puede encontrar al final de esta web. <br>


<strong>Metodo de pago de productos:</strong><br>
-El pago de la compra de productos en nuestro local se puede realizar de manera fisica al recibir los productos,
o mediante tranferencia, usando las billeteras digitales con las que trabajamos. <br>

<strong>Entregas a domicilio:</strong> <br>
-El reparto de nuestros productos se realizan de Lunes a Sabado entre las 8hs y 12hs durante la mañana, y 
desde las 4hs hasta las 7hs a la tarde, siendo esta limitada a la localidad de Las Toscas actualmente. <br>

<strong>Recargos y reintegros:</strong> <br>
-En caso de realizar una compra y producirse un error como falta de algun producto en su pedido a la hora de
 la entrega,
el local le descontara el monto de dicho producto en el precio final a pagar. <br>
-En el monto final a pagar, el local agrega en dicho monto el recargo correspondiente a la entrega a domicilio. <br>


<strong>Localizacion:</strong> <br>
El local "Minimercado ..."se halla en la localidad de Las Toscas, Santa Fe. Ubicado en barrio..., entre calle 
nº... y calle nº...En caso de queres conocer mas sobre nuestro local, puede visitar nuestras redes o acceder al 
siguiente enlace para conocer y visitar su localizacion fisica. <br>
<a href="https://www.google.com/maps/place/Las+Toscas,+Santa+Fe/data=!4m2!3m1!1s0x944f0e493013c031:0xa2eed2b3f1c
f8666?sa=X&ved=1t:242&ictx=111" data-bs-toggle="tooltip" title="Tooltip" 
style="color: rgb(14, 10, 236); font-size: larger; font-weight: 600;">Mapa en linea</a> <br>


<strong>Productos:</strong> <br>
-Nuestros productos son de primera calidad y sus precios son acordes a los del mercado actual. <br>
-Poseemos una gran variedad de marcas y productos para todo tipos de gustos y a eleccion libre del cliente. <br>
-Los productos mencionados en nuestro catalogo son los que actualmente nuestro local posee en stock. <br>



</div>