
<div style="background-color: antiquewhite; margin: 2%; padding: 2%; border-radius: 2ch;">
    <h2 style="text-align: center;">PREGUNTAS FRECUENTES</h2>
<P>
   <strong>¿Que pasa si yo compro un producto en la web, pero no resido dentro del area donde el local trabaja?</strong> <br>
    -En caso de que usted como cliente que compro nuestros productos no se encuentra residiendo en el area en 
    el que nuestro local trabaja, se estipula en los terminos de uso que, en dicho caso, la compra si esta
     habilitada a realizarse, pero el cliente debera recoger su compra personalmente en nuestro local fisico 
     dentro del horario de atencion. <br>
    
    <strong>¿Que sucede si algun producto que recibi esta roto o defectuoso? </strong> <br>
    -En caso de que el cliente reciba un producto en malas condiciones ya sea por error o accidente, el local 
    le dara al cliente un cambio de dicho producto por uno nuevo del mismo tipo o le reembolsara al cliente el 
    monto de dicho producto, como el cliente eliga. <br>
    
<strong>¿Como puedo contactar con nuestro local?</strong> <br>
    - Para contactar con nuestro local, puede llamar al numero 3482-**** o enviarnos un correo a *****gmail.com <br>
    
<strong>¿Como puedo hacer una sugerencia o una queja sobre los productos?</strong> <br>
    -Actualmente nuestra web posee una seccion de comentarios donde cualquier persona puede dejar su mensaje y
    dejarnos saber su opinion, tambien puede visitar nuestras redes al ingresar a los correctos al final de la web. <br>
</P>
 <p style="font-size: larger; color: black; font-weight: 700; background-color: gray;
  border-radius: 3ch; text-align: center; padding: 2%;">
NOTA: <br>
    Este contenido es un ejemplo, puede variar segun las reglas y terminos de uso que sean aplicables en su area. <br>
    Ademas, si aun asi usted tiene dudas sobre nuestro negocio, puede visitar nuestras redes o realizar una consulta 
    en nuestra seccion de comentarios.
</p>

</div>






